---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
            <span class="subheading">We deliver secure, remote access to custom high-performance hardware, available anytime, anywhere.</span>
            <span class="subheading">Our open-source, full stack, low-code, <a href="https://blinky-lite.org/" style="color:#fdc100;"><b>Blinky-Lite<sup>TM</sup></b></a> integration tool deploys in minutes, guaranteeing trust and ease of use for all users.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

